/*//////banner1//////*/

.about {
    background: transparent;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.fadeblack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom ,transparent 50%,#131313 70% ) ;
    z-index: 0;
}

.back-video4{
    width: 100vw;
    height: 100%;
    opacity: 80%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }


.about-img {
    width:120px;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-spin {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-right: 10px solid #5269F5;
    border-left: 10px solid  #CC3687;
    animation: aboutSpinner 5s linear infinite;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes aboutSpinner {

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*//////banner2//////*/

.about-our {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header-about {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    height: 170px;
    
}

.text {
    justify-self: end;
    display: flex;
    flex-direction: column;
}

.text h2 {
    font-size: 50px;
    color: #F3F3F3;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #8F23B7,
                 0 0 20px #8F23B7,
                 0 0 40px #8F23B7,
                 0 0 80px #8F23B7,
                 0 0 120px #8F23B7;
}

.text p {
    margin: 0;
    color: #F3F3F3;
    font-size: 28px;
}



.about-content {
    text-align: center; 
    margin-top: 50px;
    
}

.about-content h3 {
    color: #F3F3F3;
    font-size: 100px;
    font-weight: 500;
}

.about-content h3:hover{
    text-shadow: 0 0 10px #8F23B7,
                 0 0 20px #8F23B7,
                 0 0 80px #922EFF,
                 0 0 120px #922EFF;
}

.about-content p {
    margin: 15px;
    color: #F3F3F3;
    font-size: 25px;
}
/*about our*/

.bg1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background:
    linear-gradient(to top, #50367F, #922EFF);
    width: 55%;
    height: 160px;
    border-radius: 18px ;
    position: relative;
    left: -30px;
}

.bg1 h1 {
    color: #F3F3F3;
    padding-top: 20px;
    padding-bottom: 8px;
    position: relative;
    line-height: 60px;
    font-size: 90px;
    font-weight: 500;
    text-align: center;
}
.wrapper {
    display: flex;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.menu, 
.content {
    width: 100%;
}

.menu {
    position: relative;
    display: flex;
    justify-content: start;
    border-radius: 45px;
    border: 2px solid #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.menu .bgicon {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 40px;
}

.bgicon i {
    padding-top: 5px;
    margin: 0;
    font-size: 30px;
}

select{
    border: none;
    cursor: pointer;
    position: absolute;
    align-self: center;
    color:#f3f3f3 ;
    width: 100%;
    padding-top: 20px;
    left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    font-family: "DB Heavent", sans-serif;
    appearance: none;
    background-color: transparent;
    background-position: 5% 55%;
    background-size: 22px;
}

select option {
    background-color: #EA4678;
    text-align: center;
    font-size: 30px;
}

input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.content{
    width: 90vw;
    height: 480px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.data {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(#131313 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #922EFF, #EA4678) border-box;
    border: 3px solid transparent;
    border-radius: 20px;
     
}

.boxtop {
    display: flex;
    padding: 15px 15px 15px 15px;
    height: 410px;
}


.box-data{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
}

.box-datateam{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
}
    

.box-data h1 {
    position: relative;
    font-size: 120px;
    font-weight: 700;
    color:#2f2f2f;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}

.box-datateam h1 {
    position: relative;
    font-size: 100px;
    font-weight: 700;
    color:#2f2f2f;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}



.box-data h1::before{
    content: attr(data-text);
    position: absolute;
    color: #FEB125;
    width: 440px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #FEB125;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #F7E631) 
    drop-shadow(0 0 50px #F7E631);
}


.box-datateam h1::before{
    content: attr(data-text);
    position: absolute;
    color: #FEB125;
    width: 440px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #FEB125;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #F7E631) 
    drop-shadow(0 0 50px #F7E631);
}

@keyframes animate {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 96%;
    }
}


.box-data h2{
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    padding: 15px;
    font-weight: 700;
    background: #FEB125;
    border-radius: 15px;
    color: #f3f3f3;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
}

.box-data h2:hover {
    background: #FEB125;
    color: #131313;
    box-shadow: 0 0 20px #FEB125;
}

.box-data h3 {
    margin-top: 10px;
    color: #F3F3F3;
    font-size: 50px;
}

.box-datateam h2{
    text-align: center;
    font-size: 56px;
    line-height: 40px;
    padding: 15px;
    font-weight: 700;
    background: #FEB125;
    border-radius: 15px;
    color: #f3f3f3;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
}

.box-datateam h2:hover {
    background: #FEB125;
    color: #131313;
    box-shadow: 0 0 20px #FEB125;
}

.box-datateam h3 {
    margin-top: 10px;
    color: #F3F3F3;
    font-size: 50px;
}



.home-img {
    width: 32%;
    margin-left:10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 110%;
    height: 120%;
    object-fit: contain;
    
}

.home-imgteam {
    width: 65%;
    margin-left:10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.home-imgteam img {
    width: 100%;
    height: 105%;
    object-fit: contain;
    
}

.box-skill {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}

.soft {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 3px solid #CC3687;
    border-top-right-radius: 18px;
    border-bottom: transparent;
    border-left: transparent;
    width: 100%;
    height: 50%;
    padding-top: 20px;

}

.soft h2 {
    margin-left: 5%;
    background: linear-gradient(to right, #5269F5, #8F23B7, #EA4678);
    color: #f3f3f3;
    height: 40px;
    width: 220px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    align-self: start;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.soft li {
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding: 1px;
    font-weight: 300;
    color: #F3F3F3;
    font-size: 23px;
}

.soft li i {
    margin-top:0;
    margin-right: 10px;
}

.hard {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    background: #5268f54a;
    border-radius: 18px;
    border: 3px solid #5269F5;
    width: 100%;
    height: 60%;
}

.hard h2 {
    margin-left: 5%;
    background: linear-gradient(to right, #5269F5, #8F23B7, #EA4678);
    color: #f3f3f3;
    height: 40px;
    width: 220px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    align-self: start;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.boxbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to top, #50367F, #922EFF);
    border-radius: 50px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 50px;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
    position: relative;
    z-index: 9999;
}

.boxbox {
    display: flex;
    width: 100%;
    place-content: center;
}

.box1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.box1 li {
    text-align: center;
    font-weight: 300;
    color: #F3F3F3;
    font-size: 25px;
}

.social-media2 {
    font-size: 25px;
    color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-media2 a:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    color: #f3f3f3;
    transition: .5s ease;
    font-size: 10px;
    margin-right: 10px;
}

.social-media2 i {
    padding: 0;
    margin: 0;
    justify-self: center;
}

.social-media2 a:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 10px;
    transition: .5s ease;
}

.social-media2 a:hover {
    transform: scale(1.2);
    color: #FEB125;
    border-color: #FEB125;
}

.data {
    display: none;
}






@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    
    .about-img {
        width:120px;
        position: relative;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-spin {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-right: 5px solid #5269F5;
    border-left: 5px solid  #CC3687;
    animation: aboutSpinner 5s linear infinite;
    animation-delay: 3s;
    opacity: 0;
    }

    .about-content h3 {
        font-size: 100px;
    }

    .about-content p {
        width: 80%;
        margin: auto;
        font-size: 35px;
    }

    br.responsive {
        display: none;
    }

    .text h2 {
        font-size: 50px;
        color: #F3F3F3;
        font-weight: 500;
        letter-spacing: 1px;
        text-shadow: 0 0 10px #8F23B7,
                     0 0 20px #8F23B7,
                     0 0 40px #8F23B7,
                     0 0 80px #8F23B7,
                     0 0 120px #8F23B7;
    }
    
    .text p {
        margin: 0;
        color: #F3F3F3;
        font-size: 20px;
    }

    .bg1 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        background:
        linear-gradient(to top, #50367F, #922EFF);
        width: 55%;
        height: 140px;
        border-radius: 18px ;
        position: relative;
        left: -30px;
    }

    .bg1 h1 {
        color: #F3F3F3;
        padding-top: 20px;
        padding-bottom: 8px;
        position: relative;
        line-height: 60px;
        font-size: 70px;
        font-weight: 500;
        text-align: center;
    }

    .wrapper {
        display: flex;
        width: 360px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    
    .box-datateam h1 {
        position: relative;
        font-size: 70px;
        font-weight: 700;
        color:#2f2f2f;
        animation: slideBottom 1s ease forwards;
        animation-delay: .1s;
    }

    .box-datateam h1::before{
        content: attr(data-text);
        position: absolute;
        color: #FEB125;
        width: 440px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid #FEB125;
        animation: animate 8s linear infinite;
        filter: drop-shadow(0 0 20px #F7E631) 
        drop-shadow(0 0 50px #F7E631);
    }

    .boxtop h2 {
        font-size: 42px;
    }
    
    .boxtop h3 {
        font-size: 32px;
    }

    .boxbottom {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: 
        linear-gradient(to top, #50367F, #922EFF);
        border-radius: 50px;
        font-weight: 500;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        height: 40px;
        animation: slideTop 1s ease forwards;
        animation-delay: .1s;
        position: relative;
        z-index: 9999;
    }

    .home-imgteam {
        width: 65%;
        margin-left:10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
    }

    .home-imgteam img {
        width: 115%;
        height: 120%;
        object-fit: contain;
        
    }

    .box-data h1 {
        position: relative;
    font-size: 92px;
    font-weight: 700;
    color:#2f2f2f;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    }

    .box-data h2 {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        padding: 15px;
        font-weight: 700;
        background: #FEB125;
        border-radius: 15px;
        color: #f3f3f3;
        animation: slideTop 1s ease forwards;
        animation-delay: .1s;
    }

    .soft h2 {
        margin-left: 5%;
    background: linear-gradient(to right, #5269F5, #8F23B7, #EA4678);
    color: #f3f3f3;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    align-self: start;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    }

    
.soft li {
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding: 1px;
    font-weight: 300;
    color: #F3F3F3;
    font-size: 18px;
}

.soft li i {
    margin-top:0;
    margin-right: 10px;
}


.hard h2 {
    margin-left: 5%;
    background: linear-gradient(to right, #5269F5, #8F23B7, #EA4678);
    color: #f3f3f3;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    align-self: start;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.hard {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    background: #5268f54a;
    border-radius: 18px;
    border: 3px solid #5269F5;
    width: 100%;
    height: 50%;
}


.boxbox {
    display: flex;
    width: 100%;
    place-content: center;
}

.box1 {
    padding: 8px;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.box1 li {
    text-align: center;
    font-weight: 300;
    color: #F3F3F3;
    font-size: 20px;
}
}

@media (max-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
    .back-video4 {
        width: 100vw;
        height: 100vh;
        opacity: 80%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .about {
        background: transparent;
        height: 100vh;
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .text h2 {
        font-size: 46px;
        color: #F3F3F3;
        font-weight: 500;
        letter-spacing: 1px;
        text-shadow: 0 0 10px #8F23B7,
                     0 0 20px #8F23B7,
                     0 0 40px #8F23B7,
                     0 0 80px #8F23B7,
                     0 0 120px #8F23B7;
    }
    
    .text p {
        font-size: 15px;
        max-width: 335px;

    }

    .bg1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, rgb(80, 54, 127), rgb(146, 46, 255));
        width: 55%;
        height: 130px;
        border-radius: 18px;
        position: relative;
        left: -30px;
    }

    .bg1 h1 {
        color: #F3F3F3;
        padding-top: 30px;
        padding-bottom: 5px;
        position: relative;
        line-height: 60px;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
    }

    .wrapper {
        display: flex;
        width: 262px;
        height: 80px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    select {
        font-size: 26px;
        padding-right: 5px;
    }

    select option {
        font-size: 26px;
        text-align: center;
    }
    .menu .bgicon {
        width: 35px;
        height: 35px;
        margin-left: 20px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    }

    .content{
        width: 100vw;
        height: 360px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }

    .data {
        width: 90%;
        
    }
    .box-skill {
        width: 40%;
    }
    .boxtop {
        display: flex;
        padding: 10px 10px 10px 10px;
        height: 300px;
    }

    
    .box-datateam h1 {
        position: relative;
        font-size: 50px;
        font-weight: 700;
        color: #2f2f2f;
        animation: slideBottom 1s ease forwards;
        animation-delay: .1s;
    }

    .boxtop h2 {
        font-size: 30px;
    }
    
    .home-imgteam img {
        width: 125%;
        height: 130%;
        object-fit: contain;
        padding-bottom: 15%;
    }

    .boxbottom {
        font-weight: 500;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        height: 40px;
    }

  
        
    .box-data {
        width: 37%;
    }

    .box-data h1 {
        font-size: 78px;
}

.boxtop h2 {
    font-size: 28px;
}

.boxtop h3 {
    font-size: 26px;
}

.soft {
    padding-top: 16px;
    height: 55%;
}

.hard {
    height: 45%;
}

.hard h2 {
    height: 30px;
    width: 180px;
}

.box1 li {
    
    font-size: 16px;
}

.soft h2 {
    height: 30px;
    width: 180px;
}

.soft li {
    
    font-size: 16px;
}

}

@media (max-width:500px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .about-img {
        width:60px;
        position: relative;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
    .circle-spin {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-right: 5px solid #5269F5;
    border-left: 5px solid  #CC3687;
    animation: aboutSpinner 5s linear infinite;
    animation-delay: 3s;
    opacity: 0;
    }

    .text h2 {
        font-size: 30px;
       line-height: 35px;
    }
    
    .text p {
        font-size: 14px;
        max-width: 200px;

    }

    .bg1 {
        width: 55%;
        height: 140px;
        border-radius: 18px;
        position: relative;
        left: -10px;
    }

    .bg1 h1 {
        color: #F3F3F3;
        padding-top: 30px;
        padding-bottom: 5px;
        position: relative;
        line-height: 40px;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .wrapper {
        display: flex;
        width: 160px;
        height: 70px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    select {
        font-size: 18px;
        padding-right: 10px;
    }
    select option {
        font-size: 18px;
        text-align: center;
    }
    .menu .bgicon {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
}